# Korus web .env for two-host / LAN (spec 003)
KORUS_WEB_LB_PORT={{ korus_web_port | default(9088) }}
KORUS_SERVER_HOST={{ korus_server_lan_ip }}
WEB_CLIENT_API_UPSTREAM=http://{{ korus_server_lan_ip }}:{{ korus_api_port }}
WEB_CLIENT_WS_PUBLIC_URL=ws://{{ korus_web_lan_ip }}:{{ korus_web_port }}/ws
KORUS_WS_GATEWAY_HOST={{ korus_server_lan_ip }}
KORUS_WS_GATEWAY_PORT={{ korus_ws_port }}
