# Korus web .env for two-host / LAN / QEMU (spec 003)
{% set ws_public_host = korus_browser_ws_host | default(korus_web_lan_ip) %}
{% set ws_public_port = korus_browser_ws_port | default(korus_web_port | default(9088)) %}
KORUS_WEB_LB_PORT={{ korus_web_port | default(9088) }}
KORUS_SERVER_HOST={{ korus_server_lan_ip }}
WEB_CLIENT_API_UPSTREAM=http://{{ korus_server_lan_ip }}:{{ korus_api_port }}
WEB_CLIENT_WS_PUBLIC_URL=ws://{{ ws_public_host }}:{{ ws_public_port }}/ws
KORUS_WS_GATEWAY_HOST={{ korus_server_lan_ip }}
KORUS_WS_GATEWAY_PORT={{ korus_ws_port }}
